{{!-- <h1>HimaBindhu</h1> --}}

{{!-- taking input from .js file and used that to print in html --}}
{{!-- <h1>{{name}}</h1> --}}




<header>
    <h1>{{title}}</h1>
    {{!-- links to root page & about page & halp page --}}
    <a href="/">Root Page</a> 
    <a href="/about">About Page</a>
    <a href="/help">Help Page</a>
    <a href="/weather">weather page</a>
</header>